<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="dataSourceSelect" class="col-md-2 control-label">Data Source</label>
    <div id="dataSourceSelect" class="col-md-3">
      {{view Ember.Select
          prompt = "Choose..."
          classNames = 'form-control'
          contentBinding = "controllers.datasources"
          optionValuePath = "content.name"
          optionLabelPath = "content.name"
          selectionBinding = "current_ds"
          valueBinding = "current_ds"
      }}
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" {{action newDatasource target='controllers.config'}} data-toggle="modal" data-target="#newDatasource"><span class="glyphicon glyphicon-plus"></span><!-- New --></button>
      <button class="btn btn-default" data-toggle="modal" data-target="#editDatasource"><span class="glyphicon glyphicon-wrench"></span><!-- Configure --></button>
      <div class="modal fade" id="newDatasource" tabindex="-1" role="dialog" aria-labelledby="newDatasourceLabel" aria-hidden="true">{{view R2rDesigner.NewDatasourceView}}</div>
      <div class="modal fade" id="editDatasource" tabindex="-1" role="dialog" aria-labelledby="editDatasourceLabel" aria-hidden="true">{{view R2rDesigner.EditDatasourceView}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="baseUriInput" class="col-md-2 control-label">Base URI</label>
    <div id="baseUriInput" class="col-md-4">
      <input type="text" class="form-control" {{bind-attr placeholder=base_uri}} />
    </div>
  </div>
</form>

<hr />

<div class="row">
  <div class="col-md-6">
    {{view R2rDesigner.MappingsView}}
  </div>
  <div class="col-md-6">
    {{view R2rDesigner.VocabsView}}
  </div>
</div>

