<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="dataSourceSelect" class="col-md-2 control-label">Data Source</label>
    <div id="dataSourceSelect" class="col-md-3">
      <select class="form-control">
        <option>{{controllers.config.datasource}}</option>
      </select>
    </div>
    <div class="col-md-2">
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span><!-- New --></button>
      <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-wrench"></span><!-- Configure --></button>
      {{view R2rDesigner.DataSourceView}}
    </div>
  </div>

  <div class="form-group">
    <label for="baseUriInput" class="col-md-2 control-label">Base URI</label>
    <div id="baseUriInput" class="col-md-4">
      <input type="text" class="form-control" {{bind-attr placeholder=controllers.config.base_uri}} />
    </div>
  </div>
</form>

<hr />

<div class="row">
  <div class="col-md-6">
    {{view R2rDesigner.MappingsView}}
  </div>
  <div class="col-md-6">
    {{view R2rDesigner.VocabsView}}
  </div>
</div>

