<div class="container">
  <h1>{{title}}</h1>
  <div class="row">
    {{view App.ConfigView}}
  </div>

  <hr />

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#rdbview" data-toggle="tab">Database View</a></li>
    <li><a href="#rdfview" data-toggle="tab">RDF View</a></li>
    <li><a href="#viz" data-toggle="tab">Visualization</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="rdbview">{{view App.RdbView}}</div>
    <div class="tab-pane" id="rdfview">{{view App.RdfView}}</div>
    <div class="tab-pane" id="viz">{{view App.VizView}}</div>
  </div>
</div>
